<div class="row">
    <div class="input-field col s12">
        <input placeholder="Search..." id="first_name2" type="text" ng-model="name" style="border-color:" >
    </div>
</div>
<div class="row" ng-controller="shirtController">
    <div class="col s12 m3" ng-repeat="shirt in shirts | filter:name ">
        <div class="card">
            <div class="card-image">
                <img ng-src={{shirt.imgUrl}} style="height:300px">
            </div>
            <div class="card-content">
                <span class="card-title" style="font-family:Comic Sans Ms;color:darkorange">{{shirt.name}}</span>
                <p>Price: {{shirt.price | currency:"$"}}</p>
            </div>
            <div class="card-action">
                <a ng-href="#/productsShirt/{{shirt.id}}">Check out</a>
            </div>
        </div>
    </div>
</div>